body {
  font-family:'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.card-search{
  border:#4bacb8;
}

.jumbotron {
  text-align: center;
  background-color:  #5b6f9b;
  color: rgb(245, 241, 241);
  border-radius: 2;
  border-bottom: 2px solid rgb(63, 6, 219);
  
}

.jumbotron-weather {
  background-image: url(./assets/img/skimmingBuf1);
  background-size: cover;
  
}
.jumbotron-parkout {
  background-image:url("https://www.nps.gov/common/uploads/grid_builder/appa/crop16_9/7439728A-1DD8-B71B-0B90C9CA77A75C7E.jpg?width=950&quality=90&mode=crop");
  text-align: left;
  background-color:  #5b6f9b;
  color: rgb(245, 241, 241);
  

}



