body {
  font-family:'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}


.jumbotron {
  text-align: center;
  background-color:  #5b6f9b;
  color: rgb(245, 241, 241);
  border-radius: 5;
  border-bottom: 5px solid rgb(63, 6, 219);
  
}

.jumbotron-weather {
  background-image: url("./assets/img/skimmingBuf1.jpg");
  background-size: cover;
  
}
